{% extends "index.html" %}
{% from "company/_form.html" import render_form %}
{% block page_content %}
  <div id="company-details">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
        <!-- Content goes here -->
        <!-- We use less vertical padding on card headers on desktop than on body sections -->
        <h2 class="text-xl font-medium text-gray-400">Company</h2>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <button type="submit" hx-target="#main-content" hx-select="#company-page"
                  hx-post="{{ url_for('company.edit') }}" hx-include="#company-edit-form"
                  class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Save
          </button>
        </div>
      </div>
    </div>
    <div class="px-4 py-5 sm:p-6">

      <div>
        <div class="px-4 sm:px-0">
          <h3 class="text-base font-semibold leading-7 text-gray-900">Company details</h3>
          <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Company description and address</p>
        </div>

        {{ render_form(form, "company-edit-form") }}

      </div>

    </div>
  </div>
{% endblock page_content %}