<nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
     aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700">
      Showing
      <span class="font-medium">1</span>
      to
      <span class="font-medium">10</span>
      of
      <span class="font-medium">20</span>
      results
    </p>
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">
    {% if pagination.has_prev %}
      <a hx-get="{{ url_for('vehicle.vehicle_list', page=pagination.prev_num) }}" hx-target="#main-content"
         class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
      <a hx-get="{{ url_for('vehicle.vehicle_list', page=pagination.next_num) }}" hx-target="#main-content"
         class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
    {% endif %}
  </div>
</nav>