<!DOCTYPE html>
<html lang="ro" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static',filename='css/output.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="h-full">

{% block header %}
  {% include "_navbar.html" %}
{% endblock %}


<main class="h-full">
  {% block content %}{% endblock %}
</main>


{% block footer %}
  {% include "_footer.html" %}
{% endblock %}
<script src="{{ url_for('static',filename='js/htmx.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/alpine.min.js') }}"></script>
<script>
      function handleConfigRequest(event) {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          document.body.removeEventListener('htmx:configRequest', handleConfigRequest);
      }

      document.body.addEventListener('htmx:configRequest', handleConfigRequest);
  </script>
</body>
</html>