<div id="vehicle-page-content" class="relative">
  <!-- Selected row actions, only show when rows are selected. -->
  <!-- <div class="absolute top-0 left-14 flex h-12 items-center space-x-3 bg-white sm:left-12"> -->
  <!--   <button type="button" class="inline-flex items-center rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:cursor-not-allowed disabled:opacity-30 disabled:hover:bg-white">Bulk edit</button> -->
  <!--   <button type="button" class="inline-flex items-center rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:cursor-not-allowed disabled:opacity-30 disabled:hover:bg-white">Delete all</button> -->
  <!-- </div> -->

  <table class="min-w-full table-fixed divide-y divide-gray-300">
    <thead>
    <tr>
      <th scope="col" class="relative px-7 sm:w-12 sm:px-6">
        <input type="checkbox"
               class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
      </th>
      <th scope="col" class="min-w-[6rem] py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">
        Plate
      </th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Brand</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Category</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Combustible</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Consumption Mixt</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Consumption Urban</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Consumption Extra Urban</th>
      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
    <!-- Selected: "bg-gray-50" -->
    {% for vehicle in vehicles %}
      <tr>
        <td class="relative px-7 sm:w-12 sm:px-6">
          <!-- Selected row marker, only show when row is selected. -->
          <!-- <div class="absolute inset-y-0 left-0 w-0.5 bg-indigo-600"></div> -->

          <input type="checkbox"
                 class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
        </td>
        <!-- Selected: "text-indigo-600", Not Selected: "text-gray-900" -->

        <td class="whitespace-nowrap py-4 pr-3 text-sm font-medium text-gray-900">{{ vehicle.plate }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.brand }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.model }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.category }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.combustible }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.consumption_mixt }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.consumption_urban }}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ vehicle.consumption_extra_urban }}</td>
        <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
          <a hx-get="{{ url_for('vehicle.vehicle_edit', vehicle_id=vehicle.id) }}" hx-target="#company-page"
             hx-select="#vehicle-page" hx-push-url="true"
             class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, {{ vehicle.plate }}</span></a>
        </td>

      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

<nav id="resource-tabs-nav" class="-mb-px flex space-x-8" aria-label="Tabs" hx-swap-oob="true">
  <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
  <a hx-get="{{ url_for('driver.driver_list') }}" hx-target="#resources-content"
     class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
     aria-current="page">Drivers</a>
  <a hx-get="{{ url_for('vehicle.vehicle_list') }}" hx-target="#resources-content"
     class="whitespace-nowrap border-b-2 border-indigo-500 px-1 py-4 text-sm font-medium text-indigo-600">Vehicles</a>
</nav>


